@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-font-color: rgb(255, 252, 247);
    --shrikhand-font: 'Shrikhand', cursive;
    --body-font: 'Poppins', sans-serif;
}

html {
    background-image: linear-gradient(320deg, #1d0027, #002017);
    background-size: cover;
    background-attachment: fixed;
}

body {
    scroll-behavior: smooth;
    scroll-margin-top: 20px;
    width: 100%;
    background-color: transparent;
    overflow-x: hidden;
}

nav {
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px;
    /* this should show on after shrink and scroll
    background-color: transparent;
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.4);*/
}

a{
    text-decoration: none;
}

ul {
    display: flex;
    padding: 20px;
}

.navbar li {
    list-style-type: none;
    padding: 20px;
    display: inline-block;
}

.navbar li a {
    font-family: var(--shrikhand-font);
    font-size: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    margin-top: 2px;
    border-radius: 99px;
    background-image: linear-gradient(to left, #47005F, #004D44);
    transition: width .4s ease-in;
}

.navbar a:hover::after {
    width: 100%;
    margin-left: -2px;
}

.navbar-toggler {
    display: none;
}

/*Overriding Bootrap*/
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: white;
}


.fa-bars,
.fa-xmark {
    font-size: 40px;
    color: white;
}


button.navbar-toggler {
    background-color: transparent;
    border: none;
}

h1,
h2,
h3,
h4,
.sub-heading {
    color: #e2a6f6;
    font-family: var(--shrikhand-font);
    font-weight: 300;
}

h1 {
    margin: 0px;
}

h3 {
    font-size: 40px;
}

.sub-heading {
    font-size: 20px;
}

.section-header {
    -webkit-text-stroke: 1px #B9FFF7;
    color: #b9fff700;
    font-family: var(--shrikhand-font);
    font-size: 60px;
}

.sub-heading {
    font-size: 20px;
}

p {
    font-family: var(--body-font);
    color: var(--main-font-color);
    text-align: justify;
    margin-top: 1em;
}

.button-one,
.button-two {
    border-radius: 100px;
    padding: 10px 20px;
    color: var(--main-font-color);
    font-family: var(--body-font);
    transition: 1s ease;
}

.button-one {
    background-color: rgba(0, 0, 0, 0);
    border: 4px solid #B9FFF7;
}

.button-one:hover {
    background-color: #B9FFF7;
    color: #002017;
    transition: 1s ease;
}

.button-two {
    border: 4px solid #47005F;
    background-color: rgba(0, 0, 0, 0);
    color: var(--main-font-color);
}

.button-two:hover {
    background-color: #47005F;
}

.m-30 {
    margin: 30px;
}

.mt-60 {
    margin-top: 60px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.hero-container {
    padding: 50px;
    margin-bottom: 100px;
    overflow-x: hidden;
}

.gradient-border {
    background: transparent;
    border: solid 4px #B9FFF7;
    /*  border-image: linear-gradient(to left, #47005F, #004D44);
    border-image-slice: 1; */
    border-radius: 20px;
    padding: 55px;
}

.profile-img {
    position: absolute;
    width: 30%;
    margin: auto auto;
    border: none;
    border-radius: 20px;
}

/*SKILLS SECTION*/

.skills-divider {
    flex: none;
    background-image: linear-gradient(320deg, #004D44, #47005F);
    background-size: cover;
    border-radius: 20px;
    padding: 10px 2px;
    width: 2px;
}

.skills {
    display: block;
    padding: 5px;
}

.skill-title {
    font-size: 30px;
    float: right;
    margin-top: 5px;
}

.skill-item {
    font-family: var(--body-font);
    color: var(--main-font-color);
    margin: 5px;
    list-style-type: none;
}

.skills-continer {
    height: 200px;
}

/*PROJECTS*/
/* .projects-container{

} */

.projects-container {
    width: 85%;
    margin: 10px auto;
}

.card {
    width: 48%;
    --bs-card-bg: none;
    --bs-card-border-color: none;
    padding: 20px;
}

.card-img-top {
    border-radius: 0.375rem;
}

.project-hightligts {
    display: block;
    padding: 10px 20px;
    margin-bottom: 0px;
}

.project-hightligts>li {
    font-family: var(--body-font);
    color: var(--main-font-color)
}

/* .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 10px;
} */

.social-design-img{
    width: 33%;
    height: auto;
    padding: 5px;
}

footer{
    text-align: center;
}